*{
	margin:0;
	padding: 0;
}
body{
	font-family:sans-serif;
}
#nav-bar{
	position: sticky;
	top: -1%;
	z-index: 5;
}
.navbar{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}
.navbar-brand img{
	padding-left: 10px;

}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	color: #fff !important;
	font-weight: 600px;
	float: right;
	text-align: left;

}
.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler{
	outline: none!important;

}
#banner{
	background-image:  linear-gradient(to right,#a517ba,#5f1782);
	padding-top: 10px;
	color: #fff;
}
.promo-title{
	font-size: 30px;
	font-weight: 600;
	margin-top: 30px;
}
.play-btn{
	width: 45px;
	margin: 20px;
}
#banner a{
	color: #fff;
	text-decoration:none;
}
.bottom-img{
	width: 100%;
}
#services{
	padding: 50px 0;

}
.service-img{
	width: 150px;
	margin-top: 5px;
}
.services{
	padding: 15px;
}
.services h4{
	padding: 5px;
	margin-top:10px;
	text-transform: uppercase;
}
.title::before{
	content: '';
	background:#7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);

}
.title::after{
	content: '';
	background:#7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
#services .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 25px;
	background-image:  linear-gradient(to right,#a517ba,#5f1782);

}
#About-us{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}
.ABOUT-title{
	font-size: 30px;
	font-weight: 600;
	margin-top: 3%;

}
#About-us ul li{
	margin: 10px 0;
}
#About-us ul{
	margin-left: 20px;
}
#TESTIMONIALS{
	margin: 100px O;
}
.TESTIMONIALS{
	margin-top: 50px;
	margin-bottom: : 50px;
	border-left: 2px solid #7b1798;
}
.TESTIMONIALS img{
	border-radius: 50%;
	margin:0 10px;
}
.user{
	display: inline-block;
	font-size: 14px;
}
#social-media{
	background: #f8f9fa;
	padding: 100px 0;
}
#social-media p{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
}
.social-icons img{
	width: 60px;
	transition: 0,5s;

}
.social-icons a:hover img{
	transform: translateY(-10px);
}
#footer{
	background-image:  linear-gradient(to right,#a517ba,#5f1782);
	color: #fff;
}
#footer img{
	width: 100%;
}
.footer-box{
	padding: 3px;
}
./* footer-box img{
	width: 30px;
	margin-bottom: 10px;
 */
}
.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 50px;width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image:  linear-gradient(to right,#a517ba,#5f1782);

}

.footer-box .form-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image:  linear-gradient(to right,#a517ba,#5f1782);

}
hr{
	background-color: #fff;
}
.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}
